<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Terminal</key>
	<dict>
		<key>NewTab</key>
		<string>tell application &quot;Terminal&quot;
			activate
			tell application &quot;System Events&quot;
				keystroke &quot;t&quot; using command down
			end tell
			do script command in front window
		end tell</string>
		<key>NewWindow</key>
		<string>tell application &quot;Terminal&quot;
			activate
			do script command
		end tell</string>
		<key>SameTab</key>
		<string>tell application &quot;Terminal&quot;
			activate
			do script command in front window
		end tell</string>
	</dict>
	<key>com.googlecode.iterm2</key>
	<dict>
		<key>NewTab</key>
		<string>tell application &quot;iTerm2&quot;
			tell (current window)
				tell (current session) of (create tab with default profile)
					write text command
				end tell
			end tell
		end tell</string>
		<key>NewWindow</key>
		<string>tell application &quot;iTerm2&quot;
			tell (current session) of (create window with default profile)
				write text command
			end tell
		end tell</string>
		<key>SameTab</key>
		<string>tell application &quot;iTerm2&quot;
			tell (current session) of (current window)
				write text command
			end tell
		end tell</string>
	</dict>
</dict>
</plist>
